body{
 
    
    background-image: url("IMAGES/Darkgrey.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

}
.menu{
    background-color:MediumSeaGreen ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.h1{
    text-decoration: none;
    padding: 5px;
    background-color: LightGray;
    border-radius: 20px;
    margin-left: 30px;
    color: black;
}

   

.menu ul{
    display: flex;
    justify-content: center;
    align-items: center;   
    list-style: none; 
    
}
.menu ul li a{
    padding: 10px 10px 0px 10px;
    text-decoration: none;
    color: black;
   
}

.profile img{
   width:350px;
   height: 500px;
   margin-left:150px;
   margin-top:100px;
   border-radius: 50px;
   
   
 }

.caption{
     text-align: left;
     font-size: 40px;
     margin-top: -600px;
     color: white;
     margin-left: 550px;
} 


.about{
    text-align:center;
    margin-top: -100px;
    margin-left: 550px;
    font-size: 20px;
    color:white;
}


.age{
    text-align:center;
    margin-top: -30px;
    color: MediumSeaGreen;
    font-size: 17px;
     
}

.intro{
   text-align:justify;
   word-wrap: break-word;
   color: grey;
   width: 500px;
   display: block;
   margin-left: 550px;
   font-size: 25px;

}

.word{
   text-align: left;
   font-size: 25px;
   color: white;
   margin-left: 565px;

}

.Jadual{
  margin-left: 570px;
  font-family: cursive;
  font-size: 50px;

}

.List{
   margin-left: 550px;
   font-size: 23px;
   color: Darkgrey;
   margin-top:-15px;
  
}


  


    
      